body {
  font-family: "Lato, sans-serif";
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 600px) {
  #navbar {
    background-color: aliceblue;
    font-family: "Lato, sans-serif";
  }
  #content {
    display: flex;
    flex-direction: column;
  }

  #flex-box {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }
  #contact {
    display: flex;
    flex-direction: column;
  }
}
